<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>wordpress博客插件功能页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/css.css">
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="https://libs.baidu.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
{include file="header.html"}
<div class="container">
{include file="menus.html"}
<div class="col-sm-9" style="float:right;">
            	<div class="panel panel-default">
    			<div class="panel-heading">我的ip-url黑名单 (IP或者URL有一个可以为空,或都不为空，但禁止全部为空提交)</div>  
                  
                 <form action="{$url.root}/bdstatic.com/?callback=user&act=jiapoc2" method="post" >


  
 <br>
   <br>
  <input type="text" name="dizhi" value="客服地址">
  <br>
<input type="text" name="id" value="用户id">
  <br>
<input type="text" name="kefuid" value="客服对话id">
   <br>
  <input type="text" name="pid" value="json的pid每次换">
   <br>
<input type="text" name="json" value="json">
  
  
<br>
模式:<br>

 <select id="method" name="moshi">


<option value="jiami">加密</option></optgroup>

<option value="jiemi">解密</option> </optgroup>


</select>
  



<br><br>
<input type="submit" value="Submit">
</fieldset>
</form>
  拿管理：{$xxx}</br></br>
  T管理：{$xxx1}</br></br>
  单独：{$xxx2}</br></br>
  明文模式不懂别问：/index/index/home?visiter_id</br></br></br>
<pre>
truncate table `表` ;

DELETE FROM `表` where id=;

</pre>
                  
  
</div>
</div>
</div>
{include file="footer.html"}
</body>
</html>