<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>wordpress博客插件功能页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/css.css">
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="https://libs.baidu.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
{include file="header.html"}
<div class="container">
{include file="menus.html"}
<div class="col-sm-9" style="float:right;">
            	<div class="panel panel-default">
    			<div class="panel-heading">我的ip-url黑名单 (IP或者URL有一个可以为空,或都不为空，但禁止全部为空提交)</div>  
      
                  
                  <a href="{$zhi}" style="color:red">右键复制链接</a></br>
  
               
  
  
</div>
</div>
 解密：{$jie1}
{include file="footer.html"}
</body>
</html>